.lg-social-media-cont {
    .lg-social-media {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        @extend .mt-2;

        @include media-breakpoint-down(sm) {
            justify-content: center;
        }

        li {
            padding: 5px;
            a {
                width: 30px;
                height: 30px;
                overflow: hidden;
                display: flex;
                text-align: center;
                justify-content: center;
                align-items: center;
                //background-color: theme-color("primary");

                i {
                    color: theme-color("primary");
                }
            }
        }
    }
}

.feature-slider-wrap {
    position: relative;
    min-height: 300px;
    .feature-slider {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        .slick-list {
            height: 100% !important;
            .slick-track {
                height: 100% !important;
                .slick-slide {
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }
    .overlay_wrap {
        z-index: 2;
        position: relative;
        .overlay {
            display: flex;
            justify-content: flex-end;
            .gform_wrapper {
                padding: $spacer * 1.2;
                background-color: rgba(255, 255, 255, 0.6);
                input[type="submit"] {
                    width: 100%;
                }
            }
        }
    }
}

.lg-testimonial {
    > h2 {
        color: $primary;
    }
    .lg-testimonial-controls {
        li {
            cursor: pointer;
            z-index: 2;
        }
    }
    .lg-testimonial-content {
        > div {
            blockquote {
                max-width: 600px;
                margin-left: auto;
                margin-right: auto;
                &:before {
                    font-weight: 900;
                    font-family: "Font Awesome 5 Free";
                    content: "\f10d";
                    font-size: 30px;
                    margin-bottom: 10px;
                    display: block;
                    color: $primary;
                }
            }
            > p:last-child {
                font-style: italic;
                &:before {
                    content: "- ";
                }
            }
        }
    }
}

.split-content-location {
    @include split-content(
        $image-width: 300px,
        $copy-width: calc(100% - 300px),
        $copy-vertical-align: top,
        $copy-text-align: left,
        $copy-vertical-padding: 0,
        $copy-horizontal-padding: 10%
    );
}

.our-location-loop {
    > div {
        margin-bottom: 10px;
        a {
            .single-location {
                background-repeat: no-repeat;
                background-position: 100% 50%;
                background-size: 47px;
                height: 47px;
                padding: 0 10px;
                display: flex;
                align-items: center;
                border-radius: 10px;
                cursor: pointer;
                @extend .bg-light-colour;
            }
        }
        &:hover {
            a {
                color: #fff !important;
            }
            &:nth-child(8n + 1) {
                .single-location {
                    background-color: #af0026;
                }
            }
            &:nth-child(8n + 2) {
                .single-location {
                    background-color: #16254d;
                }
            }
            &:nth-child(8n + 3) {
                .single-location {
                    background-color: #ce6327;
                }
            }
            &:nth-child(8n + 4) {
                .single-location {
                    background-color: #ffd819;
                }
            }
            &:nth-child(8n + 5) {
                .single-location {
                    background-color: #759f9e;
                }
            }
            &:nth-child(8n + 6) {
                .single-location {
                    background-color: #705f4f;
                }
            }
            &:nth-child(8n + 7) {
                .single-location {
                    background-color: #4f8c22;
                }
            }
            &:nth-child(8n + 8) {
                .single-location {
                    background-color: #1f7dcd;
                }
            }
        }
    }
}

.gallery-grid {
    display: flex;
    flex-wrap: wrap;
    .grid-item {
        width: 100%;
        padding: 7.5px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        @include media-breakpoint-up(sm) {
            width: 50%;
        }
        @include media-breakpoint-up(md) {
            width: 33.33%;
        }
        @include media-breakpoint-up(lg) {
            width: 25%;
        }
    }
}

#lightbox {
    top: 50% !important;
    transform: translateY(-50%);
    position: fixed !important;
}

.our-testimonials-loop {
    > div {
        width: 100%;
        padding: 25px;
        background-color: $secondary;
        color: #fff;
        border-radius: 10px;
        margin: 7.5px;

        @include media-breakpoint-up(sm) {
            width: calc(50% - 15px);
        }
        @include media-breakpoint-up(md) {
            width: calc(33.33% - 15px);
        }
        // @include media-breakpoint-up(lg){
        // 	width: calc( 25% - 15px );
        // }
    }
}

ul.products::before {
    display: none !important;
}
