.gform_wrapper{
	.gform_fields{
		padding-left: 0;
		list-style: none;
		li{
			margin-bottom: 10px;
			.gfield_label{
				display: none;
			}
			input, textarea, select{
				@extend .form-control;
			}
		}
	}

	.gform_footer{
		input[type=submit]{
			@extend .btn;
			@extend .btn-secondary;
		}
	}
}