#main-navbar{
	.navbar-nav{
		display: flex;
		justify-content: space-between;
		width: 100%;
		.nav-link{
			color: #fff;
			font-size: 18px;
			font-family: $headings-font-family;
			font-weight: 300;
			padding-top: 1.25rem;
            padding-bottom: 1.25rem;
            &:hover {
                background-color: darken($primary, 10%);
            }
            &:active {
                background-color: darken($primary, 10%);
            }
        }
        .current-menu-item {
            background-color: darken($primary, 10%);

		}
	}
}

.shopping-cart-icon{
	padding: 0 $navbar-nav-link-padding-x;
	>a{
		margin-top: 3px;
		display: inline-block;
	}
}

#menu-footer-menu{
	padding: 0;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	list-style: none;

	@include media-breakpoint-down(md){
		justify-content: center;
	}

	>li{
		padding: 0 10px 5px 10px;
		font-size: 1.1rem;
	}
}