.home{
	.recent-products{
		ul.products{
			@include media-breakpoint-up(md){
				justify-content: center;
			}
			li{
				@include media-breakpoint-up(md){
					width: 33.33% !important;
					margin: 0 !important;
				}
			}
		}
	}
}

.recent-products{
	.container{
		max-width: 800px;
		.products{
			li{
				padding: 15px !important;
				@include media-breakpoint-up(md){
					padding: 15px 40px !important;
				}
			}
		}
	}
}

.woocommerce{

	a.button{
		font-weight: normal;
	}

	.products{
		display: flex;
		flex-wrap: wrap;
		li{
			float: none !important;
			text-align: center;
			margin-bottom: 0 !important;

			@include media-breakpoint-down(sm){
				width: 50% !important;
			}

			@include media-breakpoint-down(xs){
				width: 100% !important;
			}

			.woocommerce-loop-product__title{
				font-size: 1.1rem !important;
				color: initial !important;
			}
			.woocommerce-Price-amount{
				font-size: 1rem !important;
				color: $primary !important;
			}
			.lg-woo-product-thumbnail{
				position: relative;

				.product_button{
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					opacity: 0;
					transition: opacity .2s ease-out 0s;

					&.hover{
						opacity: 1;
					}

					a{
						@extend .btn-white;
						margin-top: 0;
						border-radius: 5px;
						width: 150px;
						height: 50px;
						display: flex;
						justify-content: center;
						align-items: center;
						margin-bottom: 15px;
						&:last-child{
							margin-bottom: 0;
						}
					}

					.fa-shopping-cart{
						margin-right: 7px;
					}
					span{
						margin-top: 4px;
					}
				}
			}

			.star-rating{
				margin: 0 auto .5em auto;
			}
		}
	}

	.single-product-top{
		display: flex;
		flex-wrap: wrap;
		.woocommerce-product-gallery{
			@extend .mb-2;
			@extend .mb-md-0;
			@extend .pr-0;
			@extend .pr-md-5;

			.flex-control-thumbs{
				padding-top: 15px !important;
				margin-left: -7.5px !important;
				margin-right: -7.5px !important;
				li{
					width: 33.33% !important;
					padding: 7.5px;
				}
			}
		}

		.woocommerce-product-gallery__trigger{
			display: none;
		}
		.product_title{
			text-transform: uppercase;
		}
		.amount{
			font-size: 1.6rem;
			color: $primary;
			@extend .mb-2;
		}
	}

	.product-options{
		max-width: 400px;
		.color-list{
			display: flex;
			flex-wrap: wrap;
			margin-left: -2.5px;
			margin-right: -2.5px;
			>div{
				width: 50px;
				height: 50px;
				padding: 5px;
			}
			.single-color{
				img{
					width: 100%;
					height: 100%;
					border-radius: 3px;
					cursor: pointer;
					object-fit: cover;
					border: 1px solid $primary;
				}
				&.active{
					img{
						border: 2px solid $secondary;
					}
				}
			}
		}
		table{
			.label{
				width: 100px;
			}
		}
		.input-text.qty{
			padding: 0px 10px;
			background-color: #F8F8F8;
			width: 100%;
			border: 1px solid #DDD;
		}
	}
	.single_add_to_cart_button{
		background-color: $primary !important;
		color: #fff !important;
		padding: 12px 15px 10px 15px !important;
		text-transform: uppercase;
	}

	#single-product-details{
		#customer-review{
			h2{
				@extend .h3;
			}
			h3{
				margin-bottom: 15px !important;
			}
			input[type=submit]{
				@extend .btn-primary;
				font-size: 1rem !important;
				font-weight: normal !important;
			}
			#commentform{

			}
			.stars{
				a{
					width: 1.5rem !important;
					height: 1.5rem !important;
					color: $star;
					&:before{
						width: 1.2rem !important;
						height: 1.2rem !important;
						font-size: 1.2rem !important;
					}
				}
			}
		}
	}

	.star-rating{
		color: $star;
		&:before{
			color: inherit;
		}
	}
}

.woocommerce div.product .woocommerce-product-rating{
	margin-bottom: 1rem !important;
}
.woocommerce div.product p.price{
	margin-bottom: 0 !important;
}

.woocommerce div.product .woocommerce-product-gallery--columns-4 .flex-control-thumbs li:nth-child(4n+1){
	clear: none !important;
}