// Site Footer
.site-footer {
    // Main Content Area
    #site-footer {
        > div {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            flex-wrap: wrap;
            flex-direction: row;

            .site-footer-alpha,
            .site-footer-bravo,
            .site-footer-charlie {
                // padding: gutter();
            }

            .site-footer-alpha {
                width: 100%;
                @include media-breakpoint-up(sm) {
                    width: 150px;
                }
                @include media-breakpoint-up(lg) {
                    width: 150px;
                }
            }

            .site-footer-bravo {
                width: 100%;
                @include media-breakpoint-up(sm) {
                    width: calc(100% - 200px);
                }
                @include media-breakpoint-up(lg) {
                    width: calc(100% - 550px);
                }
            }

            .site-footer-charlie {
                width: 100%;
                @include media-breakpoint-up(sm) {
                    width: 100%;
                }
                @include media-breakpoint-up(lg) {
                    width: 350px;
                }
            }
        }

        .footer-title {
            display: inline-block;
            font-size: 1.1rem;
            margin-bottom: 8px;
        }
        .footer-phone {
            font-size: 1.2rem;
        }
        .footer-call {
            font-size: 18px;
        }
        .footer-main {
            display: none;
            @media screen and (min-width: 1435px) {
                display: flex;
            }
            margin-bottom: 15px;
            justify-content: center;
            flex-wrap: wrap;
            letter-spacing: 1px;
            .logo {
                flex: 0 0 25%;
                display: flex;
                justify-content: center;
            }
            .footer-call {
                flex: 1 1 75%;
            }
            .line2 {
                margin-top: 10px;
                padding-left: 20%;
                display: flex;
                > * {
                    margin-left: 15px;
                }
                .lg-social-media-cont {
                    .lg-social-media {
                        margin-top: 0 !important;
                        li {
                            padding: 0;
                            margin-left: 10px;
                            a {
                                height: auto;
                                width: auto;
                                i {
                                    font-size: 26px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .footer-mobile-main {
            display: flex;
            @media screen and (min-width: 1435px) {
                display: none;
            }
            flex-wrap: wrap;
            @media screen and (min-width: 424px) {
                flex-wrap: nowrap;
            }
            .logo {
                flex: 0 0 25%;
            }
            .footer-call {
                flex: 1 1 75%;
                text-align: left;
                padding-left: 10px;
                span {
                    margin-right: 5px;
                }
                .footer-lineheader {
                    font-weight: bold;
                    color: #1c2d72;
                    margin-bottom: 3px;
                }
                .footer-lineheader:nth-child(n + 1) {
                    margin-top: 3px;
                }
                .lg-social-media-cont {
                    margin-bottom: 15px;
                    .lg-social-media {
                        margin-top: 0 !important;
                        justify-content: left !important;
                        li {
                            padding: 0;
                            margin-left: 10px;
                            a {
                                height: auto;
                                width: auto;
                                i {
                                    font-size: 26px;
                                }
                            }
                        }
                        li:first-child {
                            margin-left: 0px !important;
                        }
                    }
                }
            }
        }
    }

    // The tiny site legal footer area.
    #site-legal {
        background-color: #e5e8ef;
        > div {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            color: $site-legal-text-color;
            //border-top: 2px solid $primary;
            @include font-size(
                $fs-map: $site-legal-font-size,
                $fs-breakpoints: $grid-breakpoints
            );

            a {
                color: $site-legal-link-color;
            }

            .site-info {
                width: susy-span(12);
                text-align: center;
                margin-bottom: 5px;

                @include media-breakpoint-up(sm) {
                    width: susy-span(6);
                    text-align: left;
                    margin: 0;
                }
            }

            .site-longevity {
                width: susy-span(12);
                text-align: center;

                @include media-breakpoint-up(sm) {
                    width: susy-span(6);
                    text-align: right;
                }
            }
        }
    }
}
